.firstBtn,
.arrayBtn,
.lastBtn {
  width: 40px;
  height: 40px;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #8bc34a;
  cursor: pointer;
  border: 1px solid #8bc34a;
}
.firstBtn svg,
.lastBtn svg {
  width: 20px;
  height: 20px;
}
.firstBtn:hover,
.arrayBtn:hover,
.lastBtn:hover {
  color: #fff;
  background-color: #8bc34a;
}
.currentBtn {
  background-color: #8bc34a;
  color: #fff;
}
