.container {
  display: flex;
  flex-direction: column;
}
.topSection {
  width: 100%;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.customerBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 32px;
  background: #effeff;
  color: #0cbbc7;
  font-family: "Plus Jakarta Sans";
  font-size: 0.75rem;
  border-radius: 30px;
}
.customerTxt {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.customerTxt p {
  font-family: "Plus Jakarta Sans";
  font-size: 1.5rem;
  color: #191619;
}
.customerTxt span {
  font-weight: 700;
}
.customerIcons {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-top: 2rem;
}
.customerIcons img {
  padding-left: 2rem;
}
.subTxt {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 2rem;
  padding-top: 2rem;
}
.txtContainer {
  display: flex;
  align-items: center;
}
.tickContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}
.tickContainer svg {
  color: #0cbbc7;
}
.tickContent span {
  color: #0cbbc7;
  padding: 0 0.25rem;
  font-weight: 600;
}
.tickContent p {
  font-family: "Plus Jakarta Sans";
  font-size: 0.75rem;
}
.middleSection {
  display: flex;
  align-items: center;
  justify-content: center;
}
.middleSectionContainer {
  height: 500px;
  width: 70%;
  border-top: 1px solid #676767;
  margin-top: 4rem;
  padding: 3rem;
  display: flex;
}
.middleSectionBox {
}
.middleSectionContent {
  width: 50%;
  height: 100%;
}
.middleSectionImg {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100%;
}
.pplImg {
  width: 456px;
  height: 480px;
}
.pplImg img {
  width: 100%;
  height: 100%;
}
.promiseBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 85px;
  height: 22px;
  background: #effeff;
  border-radius: 30px;
}
.promiseBtn p {
  font-family: "Plus Jakarta Sans";
  font-size: 0.575rem;
  color: #0cbbc7;
}
.sectionHead {
  display: flex;
  align-items: center;
  width: 80%;
}
.sectionHead p {
  font-family: "Plus Jakarta Sans";
  font-size: 2.1rem;
  color: #191619;
}
.sectionHead span {
  font-weight: 700;
}
.sectionTxt {
  display: flex;
  align-items: center;

  width: 80%;
}
.sectionTxt p {
  font-family: "Plus Jakarta Sans";
  font-size: 1rem;
  color: #676767;
}
.sectionBtn {
  width: 167px;
  height: 48px;
  background: #0cbbc7;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}
.sectionBtn p {
  font-family: "Plus Jakarta Sans";
  font-size: 0.85rem;
  color: #fff;
  cursor: pointer;
}
.bottomSection {
  display: flex;
  align-items: center;
  justify-content: center;
}
.bottomSectionBox {
  height: 500px;
  height: 500px;
  width: 70%;
  border-top: 1px solid #676767;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.bottomSectionHeading{
    display: flex;
    align-items: center;
    justify-content: center;
}
.bottomSectionHeading p{
    font-family: "Plus Jakarta Sans";
  font-size: 2.1rem;
  color: #191619; 
}
.bottomSectionHeading span{
    font-weight: 700;
}
.stickerMenu{
    height: 300px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 3rem;
    
}
.stickerBar{
    width: 180px;
    height: 180px;
    background-color: #FFF5F3;
    display: flex;
    align-items: center;
    justify-content: center;

}

